body,
html {
    height: 100%;
    margin: 0;
    font-family: "arial", sans-serif;
    background: #e5e7ed;
    /*消除链接效果*/
    text-decoration: none;

}

<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自定义单选框</title>
  <style>
    /* 基础样式 */
    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #007bff;
      border-radius: 50%;
      background-color: #fff;
      outline: none;
      cursor: pointer;
      position: relative;
    }

    /* 选中时：在按钮中间生成黑色实心圆 */
    input[type="radio"]:checked::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
.header {
    position: absolute;
    top: 20px;
    /* 根据需要调整 */
    right: 60px;
    /* 根据需要调整 */
    display: flex;
    align-items: center;
    gap: 20px;
    /* 添加间距 */
}

.login-button-container {
    position: relative;
    border-radius: 24px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #190bdd;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    /* 增加字体大小 */
    font-weight: bold;
    /* 加粗字体 */
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    /* 使边框包含在元素尺寸内 */
    position: relative;
    /* 使矩形框相对于按钮定位 */
}

.login-button-container :hover {
    border: 2px solid #190bdd;
    /* 鼠标悬停时的背景颜色 */
}

.translateSelectLanguage {
    width: 90px;
    height: 50px;
    background-color: #12b4e3;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 20px 50px 50px 50px;
    -webkit-appearance: none;
    /* 移除默认的下拉箭头样式 */
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

.translateSelectLanguage:focus {
    outline: none;
}

.translateSelectLanguage option {
    background-color: #fff;
    color: #444;
    font-size: 20px;
}

.side-container {
    background-color: #fff;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 1px 0 5px rgba(203, 203, 203, 0.904);
    /* 添加阴影 */
    overflow-y: auto;
    /*     overflow-y: scroll;
    允许垂直滚动 */
    overflow-x: hidden;

}

.side-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    margin-bottom: 50px;
}

.sidelogo1{
    position: relative;
    width: 25px;
    height: 25px;
    left: -50px;
}

.side-header img {
    max-width: 80%;
    /* logo的最大宽度，不超过其父容器的宽度 */
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.side-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    margin-top: 180px;
}


.side-content div,
.side-footer {
    display: block;
    color: #333;
    font-size: 0.9rem;
    text-decoration: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 228px;
    cursor: pointer;
    margin-bottom: 5px;
}

.side-footer img {
    display: inline-block;
    position: absolute;
    height: 25px;
    margin: 13px 0px 15px -65px;
}

.side-content p {
    display: inline-block;
    position: absolute;
    margin: 0px 0px 15px -20px;
}

.side-footer:hover {
    background-color: #def3f9;
    color: #12b4e3;
    border-radius: 8px;
}

.side-footer a:hover {
    background-color: #def3f9;
    color: #12b4e3;
    border-radius: 8px;
}

.side-footer:active {
    background-color: #12b4e3;
    color: white;
    border-radius: 8px;
}

.side-footer.active {
    background-color: #12b4e3;
    color: white;
    border-radius: 8px;
}

.Dividing-line {
    width: 70%;
    height: 1px;
    /*background-color: #ccc;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: -2.5px 5px;
}


.main-container {
    background-image: url('../img/聊天背景图.jpg'); /* 图片路径 */
    background-size: cover; /* 图片填充方式 */
    background-position: center; /* 图片定位 */
    background-repeat: no-repeat; /* 禁止图片重复 */
    width: calc(100% - 300px);
    /*内部设置20px的padding*/
    padding: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.module {
    display: none;
}

.input-container {
    background-color: #fff;
    width: 700px;
    height: 120px;
    border-radius: 10px;
    position: fixed;
    left: 60.7%;
    top: 75%;
    transform: translate(-50%);
    font-size: 16px;
    border: 1px solid #ccc;
    /* 假设你想要一个透明的边框，修改颜色以适应你的需求 */
    border-image: initial;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.voice-container {
    background-color: #fff;
    width: 700px;
    height: 120px;
    border-radius: 10px;
    position: fixed;
    left: 60.7%;
    top: 75%;
    transform: translate(-50%);
    font-size: 16px;
    border: 1px solid #ccc;
    /* 假设你想要一个透明的边框，修改颜色以适应你的需求 */
    border-image: initial;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cover-container {
    width: 900px;
    height: 120px;
    border-radius: 5px;
    position: fixed;
    left: 60%;
    top: 87%;
    transform: translate(-50%);
    z-index: 10;
}

.chat-input {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    /* 示例边框，你可以根据自己的需求调整 */
    padding: 10px 10px 0 10px;
    width: 660px;
    height: 60px;
    /* 根据需要添加内边距 */
    font-size: 16px;
    overflow-y: auto;
    resize: none;
    z-index: 1;
    border: none;
    outline: none;
}

.voice-input {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    /* 示例边框，你可以根据自己的需求调整 */
    padding: 10px 10px 0 10px;
    width: 660px;
    height: 60px;
    /* 根据需要添加内边距 */
    font-size: 16px;
    overflow-y: auto;
    resize: none;
    z-index: 1;
    border: none;
    outline: none;
}

.input-container img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.voice-container img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.voice-container div {
    position: fixed;
    bottom: 7px;
    left: 480px;
}

.voice-container button {
    display: inline-block;
}

.chat-item {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 20px;
    padding-bottom: 160px;
    transform: translate(-50%);
    font-size: 16px;
    /* 假设你想要一个透明的边框，修改颜色以适应你的需求 */
    border-image: initial;

}

.voice-item {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 20px;
    padding-bottom: 160px;
    transform: translate(-50%);
    font-size: 16px;
    /* 假设你想要一个透明的边框，修改颜色以适应你的需求 */
    border-image: initial;

}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}


.message .p1 {
    display: block;
}

.message .p1 {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 0.9em;
}

.message .p1 span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.user-message {
    justify-content: flex-end;
}

.ai-message {
    justify-content: flex-start;
}

.ai-message .p1 {
    background: #fff;
    text-align: left;
    color: black;
}

.user-message .p1 {
    background: #12b4e3;
    text-align: left;
    color: white;
}

.pleaseinput {
    text-align: end;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    padding: 5px;
    border-radius: 3px;
    z-index: 1000;
    width: 85px;
    position: absolute;
    right: -20px;
    bottom: 40px;
    display: none;
}

.magic-tool2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 20px;
}



.tool-cover {
    background-color: #e5e7ed;
    position: fixed;
    right: 60px;
    left: 320px;
    height: 160px;
    padding: 28px;
    display: block;
    z-index: 100;
}

.toolchoice {
    background-color: #fff;
    position: fixed;
    top: 30px;
    right: 60px;
    left: 320px;
    height: 160px;
    border-radius: 10px;
    padding: 28px;
    display: block;
    z-index: 1000;
}

.toolchoice1 {
    height: 60px;
    margin-bottom: 10px;
}

.toolchoice11 {
    display: inline-block;
    height: 100%;
    width: 23%;
}

.toolchoice111 {
    background-color: #d0e9f0;
    color: #12b4e3;
    height: calc(100% - 12px);
    width: calc(100% - 20px);
    margin: 6px 10px;
    border-radius: 25px;
    /* transform: translate(6px, 10px); */
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    font-size: 16px;
    cursor: pointer;
}

.toolchoice2 {
    border-radius: 20px;
    height: 88px;
    background-color: #fff;
}

.magic-tool2 img {
    height: 15px;
    width: 15px;
}

.magic-tool2 button {
    background-color: #fff;
    border-radius: 23px;
    margin: 4px;
    padding: 8px 15px;
    height: 40px;
    border: 1px solid rgb(205, 213, 223);
    font-size: 0.875rem;
    cursor: pointer;
    color: inherit;
    font-weight: 100;
    overflow: hidden;
}

.magic-tool2 button:hover {
    background-color: rgb(205, 213, 223);
}

.magic-tool2 button.active {
    background-color: rgb(205, 213, 223) !important;
    transition: background-color 0.3s;
}


.AllToolsword {
    /* background-color: #f08b8b; */
    position: absolute;
    top: 270px;
    left: 20px;
    right: 60px;
    height: 51px;
    font-size: 21px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: inherit;
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.AllTools {
    position: absolute;
    top: 331px;
    left: 30px;
    right: 60px;

}

.tools {
    margin: 0px 10px;
    height: 72px;
    width: 380px;
    display: inline-block;
    background-color: #fff;
    border: 0.7px solid rgb(227, 232, 239);
    border-radius: 10px;
    cursor: pointer;
    padding: 17px 8px;
}

.tools:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
    ;
}

.tools img {
    margin: 11px 12px;
    height: 50px;
    width: 50px;
}

.tools .h1p {
    position: relative;
    top: -74px;
    left: 76px;
    font-size: 16px;
    font-weight: 700;
    max-height: 16px;
    max-width: 200px;
}

.tools .h2p {
    color: #666;
    position: relative;
    top: -65px;
    left: 76px;
    max-width: 280px;
    font-size: 14px;
    font-weight: 300;
    max-height: 14px;
}

.tool-display{
    /* display: none; */
    background-color: #e5e7ed;
    z-index: 199999;
    left: 270px;
    top:0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.back-btn{
    margin: 10px;
    padding: 10px;
    width: 50px;
    align-items: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    border: #666 solid 1px;
    border-radius: 5px;
}

.tool-display-content{
    background-color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    width: 600px;
    border-radius: 10px;
    left: 170px;
    font-size: 18px;
}

.tool-display-content h2{
    top:20px;
    position: relative;
    text-align: center;
}

.tool-display-content div{
    margin: 10px 30px;
    font-weight: 900;
}

input button{
    border: none; /* 移除默认边框 */
    outline: none; /* 移除聚焦时的轮廓线 */
    background: none; /* 移除默认背景 */
    cursor: pointer; /* 鼠标手势 */
}

.tool-display-content input{
    width: 500px;
    margin: 10px;
    height: 34px;
    border-radius: 12px;
    border: #12b4e3 solid 1px;
}

.tool-display-content textarea{
    width: 500px;
    margin: 10px;
    height: 34px;
    border-radius: 12px;
    border: #12b4e3 solid 1px; 
}

.tool-display-content textarea:focus{
    border: #12b4e3 solid 2px;
} 

.tool-display-content input:focus{
    outline: none;
    border: #12b4e3 solid 2px;
}


.tool-display-content button{
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: #12b4e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0);
}

